
/* Your CSS Code here. */

.container{

	width:400px;
	background-color:purple;
	
	
	
}

.para{

	padding:10px;
	fontsize:20px;
	color:white;
	font-style:underline;
	border-left:185px;
	border-color:green;
	
}